/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/resources/admin  
/resources/front-final  
/resources/front-mega-menu  
/resources/front-v1  
/resources/inspina
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.zip

