/*******/
/*FONTS*/
/*******/
/*Vazir, IranSans*/
@font-face {
    font-family: IranSans;
    src: url('../fonts/iransans/IRANSansWeb(FaNum).ttf') format('truetype');
    src: url('../fonts/iransans/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
    url('../fonts/iransans/IRANSansWeb(FaNum).eot');
    src: url('../fonts/iransans/IRANSansWeb(FaNum).woff2') format('woff2');
    src: url('../fonts/iransans/IRANSansWeb(FaNum).woff') format('woff');
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Regular.eot');
    src: url('../fonts/vazir/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir/Vazir-Regular.woff2') format('woff2'),
    url('../fonts/vazir/Vazir-Regular.woff') format('woff'),
    url('../fonts/vazir/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Bold.eot');
    src: url('../fonts/vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir/Vazir-Bold.woff2') format('woff2'),
    url('../fonts/vazir/Vazir-Bold.woff') format('woff'),
    url('../fonts/vazir/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Black.eot');
    src: url('../fonts/vazir/Vazir-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir/Vazir-Black.woff2') format('woff2'),
    url('../fonts/vazir/Vazir-Black.woff') format('woff'),
    url('../fonts/vazir/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Medium.eot');
    src: url('../fonts/vazir/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir/Vazir-Medium.woff2') format('woff2'),
    url('../fonts/vazir/Vazir-Medium.woff') format('woff'),
    url('../fonts/vazir/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Light.eot');
    src: url('../fonts/vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir/Vazir-Light.woff2') format('woff2'),
    url('../fonts/vazir/Vazir-Light.woff') format('woff'),
    url('../fonts/vazir/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Thin.eot');
    src: url('../fonts/vazir/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir/Vazir-Thin.woff2') format('woff2'),
    url('../fonts/vazir/Vazir-Thin.woff') format('woff'),
    url('../fonts/vazir/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/*******/
/*FONTS*/
/*******/


/******/
/*INIT*/
/******/
header,
nav {
    display: block
}

:focus {
    outline: 0;
    box-shadow: none !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    max-width: 100%;
    height: auto
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

/*DEFAULTS*/
html, body {
    direction: rtl;
    text-align: right;
    font-size: 16px;
    font-family: Vazir, IranSans, Tahoma, serif !important;
    /*line-height: 0;*/
    font-weight: 300;
}

a,
span,
body,
div,
html,
img,
header,
li,
nav,
ul {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: 0 0
}

a {
    color: #333;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

a,
a:focus,
a:hover {
    text-decoration: none;
    color: #3880A7;
    outline: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

/******/
/*INIT*/
/******/


/********/
/*HEADER*/
/********/

/*PARALLAX*/
#parallax_header {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    border-radius: 0.2rem;
}

#parallax_header_img {
    visibility: hidden;
}

/*SEARCH*/
.search_input_group {
    position: relative;
    width: 100%;
    height: 44px;
    line-height: 44px;
}

.search_input_label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #d3d3d3;
    transition: 0.2s all;
}

.search_input {
    width: 100%;
    outline: 0;
    border: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    border-radius: 0;
    box-shadow: none !important;
    color: #111111;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
}

.search_input:not(:placeholder-shown) ~ label,
.search_input:focus ~ label {
    top: -25px;
}

.search_input::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

/*NAVBAR*/
.boxed {
    position: relative;
}

.header {
    box-shadow: 0 5px 10px 0.5px rgba(36, 11, 12, .05);
    position: relative;
}

#site-header-inner {
    position: relative;
    height: 100%;
    padding: 31px 0 31px;
}

#main_nav > ul,
ul {
    list-style: none;
    padding: 0;
}

#main_nav ul.submenu,
.mobile-button {
    -ms-transition: all .3s ease-in-out;
}

.nav-wrap {
    position: absolute;
    top: 50%;
    left: 5rem;
    align-items: center;
    transform: translateY(-50%);
}

#logo {
    margin-right: 20rem
}

#main_nav > ul {
    margin: 0;
    padding: 0
}

#main_nav ul li {
    position: relative
}

#main_nav > ul > li {
    display: inline-block
}

#main_nav > ul > li > a {
    font-weight: 500;
    color: #333;
    font-size: 15px;
    line-height: 88px;
    margin: 0 16.8px;
    display: block
}

#main_nav > ul > li.active > a,
#main_nav > ul > li > a:hover {
    color: #318A90
}

#main_nav ul.submenu {
    position: absolute;
    top: 150%;
    right: 0;
    width: 230px;
    background: #fff;
    box-shadow: 0 5px 14.25px .75px rgba(0, 0, 0, .05);
    padding: 15px 10px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#main_nav ul.submenu:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 100%;
    background: #5DC4CA
}

#main_nav ul.submenu > li > a {
    font-weight: 400;
    line-height: 45px;
    color: #636363;
    padding: 0 32px 0 0;
    display: block;
    margin-bottom: 2px
}

#main_nav ul.submenu li ul {
    position: absolute;
    right: 220px;
    top: -15px !important
}

#main_nav ul.submenu > li.active > a,
#main_nav ul.submenu > li > a:hover {
    background: #f5f5f5
}

#main_nav > ul.menu li:hover > ul.submenu {
    top: 100%;
    opacity: 1;
    visibility: visible
}

#main_nav ul.right-submenu {
    right: auto;
    left: 0
}

.submenu_icon {
    padding-left: 0.5rem;
}

.mobile-button {
    display: none;
    position: absolute;
    width: 26px;
    height: 26px;
    top: 50%;
    left: 1rem;
    margin: 0 0 0 20px;
    background-color: transparent;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.mobile-button span,
.mobile-button:after,
.mobile-button:before {
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out
}

.mobile-button:after,
.mobile-button:before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    right: 0;
    top: 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

.mobile-button:before {
    -webkit-transform: translate3d(0, -7px, 0);
    -moz-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0)
}

.mobile-button:after {
    -webkit-transform: translate3d(0, 7px, 0);
    -moz-transform: translate3d(0, 7px, 0);
    transform: translate3d(0, 7px, 0)
}

.mobile-button span,
.mobile-button:after,
.mobile-button:before {
    background-color: #4D8BC1;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.mobile-button span {
    position: absolute;
    width: 100%;
    height: 3px;
    right: 0;
    top: 50%;
    overflow: hidden;
    text-indent: 200%
}

.mobile-button.active span {
    opacity: 0;
}

.mobile-button.active:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg)
}

.mobile-button.active:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg)
}


.btn-submenu {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-family: "Font Awesome 5 Pro", FontAwesome, serif;
    font-size: 1.5em;
    line-height: 47px;
    background: #2C6380;
    width: 48px;
    height: 47px;
    text-align: center
}

#main_nav_mobi ul li a:hover,
#main_nav_mobi ul li.active > a {
    color: #5CC9CA;
}


.btn-submenu:before {
    content: "\f107";
}

.btn-submenu.active:before {
    content: "\f106";
}

#main_nav_mobi {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 9999;
    background-color: #2D2D2D;
}

#main_nav_mobi ul {
    margin: 0;
    padding: 0;
    display: block;
}

#main_nav_mobi ul li {
    margin: 0;
    text-align: right;
    cursor: pointer;
    padding: 0;
    position: relative;
    border-top: 1px solid #333;
    overflow-y: scroll;
}

#main_nav_mobi ul li a {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 48px;
    color: #fff
}

#main_nav_mobi > ul > li > a {
    padding: 0 20px
}

#main_nav_mobi ul.submenu > li > a {
    padding: 0 40px
}

#main_nav_mobi ul.submenu li ul.submenu > li > a {
    padding: 0 60px
}

/********/
/*HEADER*/
/********/


/*****************/
/*BIG IMAGE MENU*/
/*****************/
.big_image_menu {
    max-height: 20rem;
    width: 100%;
    overflow-y: hidden;
}

/*****************/
/*BIG IMAGE MENU*/
/*****************/

/*****************/
/*PAGE IMAGE MENU*/
/*****************/
.page_img_menu {
    max-height: 20rem;
    /*min-height: 20rem;*/
    width: 100%;
    overflow-y: hidden;
}

/*****************/
/*PAGE IMAGE MENU*/
/*****************/


/************/
/*ORDER PAGE*/
/************/
.order-attributes {
    border: none;
    border-bottom: 2px solid #d3d3d3;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#order-count {
    box-shadow: none;
    border: none;
    border-bottom: 2px solid #d3d3d3;
    border-top: 2px solid #d3d3d3;

}


/************/
/*ORDER PAGE*/
/************/


/***************************/
/*SOCIAL MEDIA BANNER IMAGE*/
/***************************/
.social_media_banner_img {
    max-height: 20rem;
}

/***************************/
/*SOCIAL MEDIA BANNER IMAGE*/
/***************************/

/*********************/
/*FOOTER PHONE NAVBAR*/
/*********************/
#phone-nav {
    position: sticky;
    z-index: 1030 !important;
}

/*********************/
/*FOOTER PHONE NAVBAR*/
/*********************/

/*************/
/*BACK TO TOP*/
/*************/
.back-to-top {
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    border-radius: 20px;
    opacity: 0.9;
    z-index: 2;
}

/*************/
/*BACK TO TOP*/
/*************/


/*********************/
/*SOCIAL MEDIA BUTTON*/
/*********************/
.social-media-button {
    position: fixed;
    bottom: 5rem;
    left: 0.5rem;
    opacity: 0.8;
    border-radius: 20px;
    z-index: 2;
}

.social-media-button > .img {
    max-height: 60px;
}

/*********************/
/*SOCIAL MEDIA BUTTON*/
/*********************/


/***************/
/**STAR RATING**/
/***************/
.starrating > input {
    display: none;
}

/* Remove radio buttons */
.starrating > label:before {
    content: "\f005"; /* Star */
    margin: 2px;
    font-size: 1.5em;
    font-family: "Font Awesome 5 Pro", FontAwesome, serif;
    display: inline-block;
}

.starrating > label {
    color: lightgrey; /* Start color when not clicked */
}

.starrating > input:checked ~ label {
    color: #ffca08;
}

/* Set yellow color when star checked */

.starrating > input:hover ~ label {
    color: #f9a825;
}

/* Set yellow color when star hover */


/**./STAR RATING**/
/*RATING AVERAGE*/
.rating-average, .back-stars, .front-stars {
    display: flex;
}

.rating-average {
    align-items: center;
    font-size: 20px;
    justify-content: center;
}

.back-stars {
    color: lightgrey;
    position: relative;
}

.front-stars {
    color: #ffca08;
    overflow: hidden;
    position: absolute;
}

/*./RATING AVERAGE*/
/*********/

/***************/
/**STAR RATING**/
/***************/

/***************/
/*SHOPPING CART*/
/***************/
.bg-lightgreen {
    background-color: #a5d6a7;
}

/**************/


/**************/
/***FOOTER IMAGES****/
/*******************/
.img-bordered-sm {
    border: 2px solid #adb5bd;
    padding: 2px;
}

.img-circle {
    border-radius: 50%;
}

/*******************/


/*********************/
/*** SEARCH RESULT ***/
/*********************/
.search-result-wrapper {
    z-index: 1030;
    width: 95%;
}

.search-result-img {
    object-fit: cover;
    width: 100%;
    max-height: 100px;
    min-height: 100px;

}

/*********************/

/********/
/*COLORS*/
/********/
/*I WILL USE *MONOCHROMATIC* THEME COLORS FOR MORE CHOOSE*/
/*TEXT => DARK , BG => LIGHT*/

/*SUCCESS*/
/*https://www.culrs.com/#/green?id=juvenile*/
.bg-success-custom {
    background-color: #F1F8E9 !important;
}

.text-success-custom {
    color: #558B2F !important;
}

/*PRIMARY*/
/*https://www.culrs.com/#/teal?id=blot*/
.bg-primary-custom {
    background-color: #B2DFDB !important;
}

.text-primary-custom {
    color: #00695C !important;
}

/*INFO*/
/*https://www.culrs.com/#/cyan?id=cadet*/
.bg-info-custom {
    background-color: #F0FBFC !important;
}

.text-info-custom {
    color: #71959A !important;
}

/*WARNING*/
/*https://www.culrs.com/#/lime?id=beryl*/
.bg-warning-custom {
    background-color: #F9FBE7 !important;
}

.text-warning-custom {
    color: #D4E157 !important;
}

/*DANGER*/
/*https://www.culrs.com/#/red?id=ruddy*/
.bg-danger-custom {
    background-color: #FFEBEE !important;
}

.text-danger-custom {
    color: #890519 !important;
}

/*SECONDARY*/
.bg-secondary-custom {
    background-color: #d7d8da !important;
}

.text-secondary-custom {
    color: #848484 !important;
}

/*DARK*/
.bg-dark-custom {
    background-color: #7f8084 !important;
}

.text-dark-custom {
    color: #262526 !important;
}

/**************************/

/*!*TEXT COLORS*!
.custom-primary {
    color : #318A90  !important;
}
.custom-success {
    color : #3DB0B8 !important;
}
.custom-info {
    color : #5DC4CB !important;
}

.custom-secondary {
    color : #474747 !important;
}

.custom-dark {
    color : #2E2E2E !important;
}

!*BACKGROUND COLORS*!
.custom-bg-primary {
    background-color : #318A90  !important;
}
.custom-bg-success {
    background-color : #3DB0B8 !important;
}
.custom-bg-info {
    background-color : #5DC4CB !important;
}

.custom-bg-secondary {
    background-color : #474747 !important;
}

.custom-bg-dark {
    background-color : #2E2E2E !important;
}*/


/*.text-lime-a100 {
    color: #f4ff81 !important;
}

.text-blue-grey-300 {
    color: #90A4AE !important;
}

.text-teal-100-dark {
    color: #b2dfdb !important;
}

.text-cyan-600-dark {
    color: #007c91 !important;
}

.text-yellow {
    color: #ffca08 !important;
}

.bg-grey-50 {
    background-color: #FAFAFA !important;
}

.bg-whitesmoke {
    background-color: #F5F5F5 !important;
}

.bg-grey-300 {
    background-color: #e0e0e0;
}

.bg-lightgreen-50 {
    background-color: #f1f8e9;
}

.bg-light-gray {
    background-color: #F8F8F8 !important;
}

.bg-lightgrey {
    background-color: #f5f5f5 !important;
}

.bg-blue-grey-300 {
    background-color: #90A4AE;
}

.bg-awesome {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(22, 49, 82, 1) 100%);
}*/

/********/


.cursor-pointer {
    cursor: pointer;
}

.img-cart {
    max-height: 200px !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    /*padding-right: 1rem;*/
    /*padding-left: 1rem;*/
    content: "";
}

.parallax-window {
    /*img-size-swiper-size*/
    min-height: 180px;
    max-height: 180px;
    background: transparent;
}


.img-size-swiper {
    max-height: 300px;
    min-height: 300px;
    object-fit: contain;
    overflow-y: hidden;
}

.product-thumbnails {
    max-height: 500px;
    overflow-y: scroll;
}

.product-thumbnails::-webkit-scrollbar {
    display: none;
}

.product-image {
    max-height: 100%;
    width: 100%;
}


.w-95 {
    width: 95% !important
}

a:hover {
    text-decoration: none;
}

.list-unstyled li {
    padding: 5px 0px 5px 0px;
}


.border-bottom-footer {
    margin-top: 4rem;
    padding-top: 4rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.footer {
    margin-top: 2rem;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    padding: 5rem 0px;
}

.sticky-footer {
    position: fixed;
    bottom: 0;
    z-index: 2;
}

.font-8 {
    font-size: 8px !important;
}

.font-10 {
    font-size: 10px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-22 {
    font-size: 22px !important;
}

.font-24 {
    font-size: 24px !important;
}

.rounded-7 {
    border-radius: 7px;
}

.ltr {
    direction: ltr !important;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
    color: #455A64;
}

.left-top-0 {
    left: 0;
    top: 0;
}

.left-top-15 {
    left: 15px;
    top: 15px;
}

.right-top-0 {
    right: 0;
    top: 0;
}

.right-top-15 {
    right: 15px;
    top: 15px;
}

.right-bottom-0 {
    right: 0;
    bottom: 0;
}

.right-bottom-15 {
    right: 15px;
    bottom: 15px;
}


.discount-label {
    background-color: rgb(232, 16, 74);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(232, 16, 74);
    border-image: initial;
    margin-bottom: 0.5rem;
    display: block;
    color: rgb(255, 255, 255);
    bottom: 7rem;
    padding: 2px 7px;
    border-radius: 5px;
}

.add_card {
    color: rgb(66, 176, 41);
    width: 24px;
    height: 24px;
    display: block;
    text-align: center;
    cursor: pointer;
    border-radius: 100%;
    /*font: 1.3rem / 9px is;*/
    border-width: 2px;
    border-style: solid;
    border-color: rgb(66, 176, 41);
    border-image: initial;
    background: rgb(255, 255, 255);
    outline: 0px;
    padding: 0px;
    margin: 0px;
}

.discount {
    opacity: 0.7;
    text-decoration: line-through;
}

/************/
/*UTILITIES*/
/***********/


/************/
/*UTILITIES*/
/***********/

/***************/
/*MEDIA QUERIES*/
/***************/
@media only screen and ( max-width: 1700px) {
    #logo {
        margin-right: 10rem;
    }
}

@media only screen and ( max-width: 1400px) {

    .submenu_icon {
        display: none;
    }

    .mobile-button {
        display: block;
    }
}


@media only screen and ( max-width: 800px) {
    #logo {
        margin-right: 2rem;
    }
}

@media screen and (max-width: 768px) {
    /*#parallax_header {
        background-attachment: local;
    }*/
}


/***************/
/*MEDIA QUERIES*/
/***************/





