/*******/
/*FONTS*/
/*******/
/*Vazir, IranSans*/
@font-face {
    font-family: IranSans;
    src: url('../fonts/iransans/IRANSansWeb(FaNum).ttf') format('truetype');
    src: url('../fonts/iransans/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
    url('../fonts/iransans/IRANSansWeb(FaNum).eot');
    src: url('../fonts/iransans/IRANSansWeb(FaNum).woff2') format('woff2');
    src: url('../fonts/iransans/IRANSansWeb(FaNum).woff') format('woff');
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Regular.eot');
    src: url('../fonts/vazir/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir/Vazir-Regular.woff2') format('woff2'),
    url('../fonts/vazir/Vazir-Regular.woff') format('woff'),
    url('../fonts/vazir/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Bold.eot');
    src: url('../fonts/vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir/Vazir-Bold.woff2') format('woff2'),
    url('../fonts/vazir/Vazir-Bold.woff') format('woff'),
    url('../fonts/vazir/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Black.eot');
    src: url('../fonts/vazir/Vazir-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir/Vazir-Black.woff2') format('woff2'),
    url('../fonts/vazir/Vazir-Black.woff') format('woff'),
    url('../fonts/vazir/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Medium.eot');
    src: url('../fonts/vazir/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir/Vazir-Medium.woff2') format('woff2'),
    url('../fonts/vazir/Vazir-Medium.woff') format('woff'),
    url('../fonts/vazir/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Light.eot');
    src: url('../fonts/vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir/Vazir-Light.woff2') format('woff2'),
    url('../fonts/vazir/Vazir-Light.woff') format('woff'),
    url('../fonts/vazir/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Thin.eot');
    src: url('../fonts/vazir/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir/Vazir-Thin.woff2') format('woff2'),
    url('../fonts/vazir/Vazir-Thin.woff') format('woff'),
    url('../fonts/vazir/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/*******/
/*FONTS*/
/*******/


/******/
/*INIT*/
/******/
header,
nav {
    display: block
}

:focus {
    outline: 0;
    box-shadow: none !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    max-width: 100%;
    height: auto
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

/*DEFAULTS*/
html, body {
    direction: rtl;
    text-align: right;
    font-size: 16px;
    font-family: Vazir, IranSans, Tahoma, serif !important;
    /*line-height: 0;*/
    font-weight: 300;
}

a,
span,
body,
div,
html,
img,
header,
li,
nav,
ul {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: 0 0
}

a {
    color: #333;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

a,
a:focus,
a:hover {
    text-decoration: none;
    color: #3880A7;
    outline: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.btn-custom {
    cursor: pointer;
    display: inline-block;
    border-radius: 10rem;
    color: #fcfdfd;
    font-size: 18px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn-custom:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #555555;
    color: #F0FBFC !important;
    border-radius: 10rem;
    z-index: -2;
}

.btn-custom:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #71959A;
    color: #F0FBFC !important;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.btn-custom:hover:before {
    width: 100%;
}

.btn-custom:hover,
.btn-custom:focus {
    color: #F0FBFC !important;
}

/****/
.btn-custom-active {
    cursor: pointer;
    display: inline-block;
    border-radius: 10rem;
    color: #fffff5;
    font-size: 18px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn-custom-active:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #71959A;
    color: #F0FBFC !important;

    border-radius: 10rem;
    z-index: -2;
}

.btn-custom-active:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #555555;
    color: #F0FBFC !important;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.btn-custom-active:hover:before {
    width: 100%;
}

.btn-custom-active:hover,
.btn-custom-active:focus {
    color: #F0FBFC !important;
}

/******/


.input-custom {
    width: 100%;
    outline: 0;
    border: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    border-radius: 0;
    box-shadow: none !important;
    color: #111111;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
}

.textarea-custom {
    resize: none;
    font-size: 18px;
    padding: 20px 30px;
    min-height: 150px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-image: none;
    border-radius: 30px;
    border-style: solid none;
    border-width: 1px 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    line-height: 1.4em;
    transition: background-color 0.2s ease 0s;
}


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/******/
/*INIT*/
/******/


/********/
/*HEADER*/
/********/

/*PARALLAX*/
#parallax_header {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    border-radius: 0.2rem;
}

#parallax_header_img {
    visibility: hidden;
}

/*SEARCH*/
.search_input_group {
    position: relative;
    width: 100%;
    height: 44px;
    line-height: 44px;
}

.search_input_label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #d3d3d3;
    transition: 0.2s all;
}

.search_input {
    width: 100%;
    outline: 0;
    border: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    border-radius: 0;
    box-shadow: none !important;
    color: #111111;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
}

.search_input:not(:placeholder-shown) ~ label,
.search_input:focus ~ label {
    top: -25px;
}

.search_input::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}


/***************/
/*ADDRESS ORDER*/
/***************/
.basket_brief_img {
    max-height: 300px;
    object-fit: cover;
    -o-object-fit: cover;
    overflow-y: hidden;
}

/***************/
/*ADDRESS ORDER*/
/***************/


/*****************/
/*BIG IMAGE MENU*/
/*****************/
.big_image_menu {
    max-height: 20rem;
    width: 100%;
    overflow-y: hidden;
}

/*****************/
/*BIG IMAGE MENU*/
/*****************/

/*****************/
/*PAGE IMAGE MENU*/
/*****************/
.page_img_menu {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    overflow-y: hidden;
}

/*****************/
/*PAGE IMAGE MENU*/
/*****************/


/************/
/*ORDER PAGE*/
/************/
.order-attributes {
    border: none;
    border-bottom: 2px solid #d3d3d3;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.attr_select_label {
    background-color: #f5f5f5;
    border-radius: 30px;
}

#order-count {
    box-shadow: none;
    border: none;
    border-bottom: 2px solid #d3d3d3;
    border-top: 2px solid #d3d3d3;
}


#sub-product-count {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    -webkit-border-bottom-left-radius: 0 !important;
    -webkit-border-top-left-radius: 0 !important;
}

#add-product-count {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    -webkit-border-top-right-radius: 0 !important;
}

.nav-item.active {
    border-radius: 0;
    border-top: 3px solid #0c0c0c !important;
}

.nav-link:hover {
    border-radius: 0;
}

.before_suggestion {
    border-left: 2px solid #d3d3d3;
    border-radius: 0;
}

.after_suggestion {
    border-right: 2px solid #d3d3d3;
    border-radius: 0;
}

.suggest_img {
    max-height: 100px !important;
    object-fit: cover;
    overflow-y: hidden;
}

/************/
/*ORDER PAGE*/
/************/

/**************/
/*ASIDE BASKET*/
/**************/
/*.basket_aside{
    max-height: 500px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}*/
.product_basket_aside_image {
    max-height: 100px !important;
    object-fit: cover;
    overflow-y: hidden;
}

.basket_aside_card {
    border-radius: 30px !important;
    border-width: 3px;
    border-style: solid none !important;
    border-color: #9dbed8;
    background-color: #fcfdfd;
}

.basket_aside_button {
    cursor: pointer;
    display: inline-block;
    border-radius: 10rem;
    color: #fcfdfd;
    font-size: 18px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.basket_aside_button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #555555;
    color: #F0FBFC !important;
    border-radius: 10rem;
    z-index: -2;
}

.basket_aside_button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #71959A;
    color: #F0FBFC !important;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.basket_aside_button:hover:before {
    width: 100%;
}

.basket_aside_button:hover,
.basket_aside_button:focus {
    color: #F0FBFC !important;
}

/**************/
/*ASIDE BASKET*/
/**************/


/**********/
/*COMMENTS*/
/**********/
.comment_textarea {
    resize: none;
    font-size: 18px;
    padding: 20px 30px;
    min-height: 150px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-image: none;
    border-radius: 30px;
    border-style: solid none;
    border-width: 1px 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    line-height: 1.4em;
    transition: background-color 0.2s ease 0s;
}


.comment_captcha_input {
    border: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    border-radius: 0;

}

.comment_show {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

/**********/
/*COMMENTS*/
/**********/


/*******/
/*CART*/
/******/
#discount_code {
    width: 100%;
    outline: 0;
    border: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    border-radius: 0;
    box-shadow: none !important;
    color: #111111;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
}

/*******/
/*CART*/
/******/
/***************************/
/*SOCIAL MEDIA BANNER IMAGE*/
/***************************/
.social_media_banner_img {
    max-height: 20rem;
}

/***************************/
/*SOCIAL MEDIA BANNER IMAGE*/
/***************************/

/*********************/
/*FOOTER PHONE NAVBAR*/
/*********************/
#phone-nav {
    position: sticky;
    z-index: 1030 !important;
}

/*********************/
/*FOOTER PHONE NAVBAR*/
/*********************/

/*************/
/*BACK TO TOP*/
/*************/
.back-to-top {
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    border-radius: 20px;
    opacity: 0.9;
    z-index: 2;
}

/*************/
/*BACK TO TOP*/
/*************/


/*********************/
/*SOCIAL MEDIA BUTTON*/
/*********************/
.social-media-button {
    background-color: #fffff5;
    position: fixed;
    bottom: 5rem;
    left: 1rem;
    opacity: 0.9;
    border-radius: 20px;
    z-index: 2;
}

.social-media-button > .img {
    max-height: 50px;
}

/*********************/
/*SOCIAL MEDIA BUTTON*/
/*********************/


/***************/
/**STAR RATING**/
/***************/
.starrating > input {
    display: none;
}

/* Remove radio buttons */
.starrating > label:before {
    content: "\f005"; /* Star */
    margin: 2px;
    font-size: 3em;
    font-family: "Font Awesome 5 Pro", FontAwesome, serif;
    display: inline-block;
}

.starrating > label {
    color: lightgrey; /* Start color when not clicked */
}

.starrating > input:checked ~ label {
    color: #ffca08;
}

/* Set yellow color when star checked */

.starrating > input:hover ~ label {
    color: #f9a825;
}

/* Set yellow color when star hover */


/**./STAR RATING**/
/*RATING AVERAGE*/
.rating-average, .back-stars, .front-stars {
    display: flex;
}

.rating-average {
    align-items: center;
    font-size: 20px;
    justify-content: center;
}

.back-stars {
    color: lightgrey;
    position: relative;
}

.front-stars {
    color: #ffca08;
    overflow: hidden;
    position: absolute;
}

/*./RATING AVERAGE*/
/*********/

/***************/
/**STAR RATING**/
/***************/

/***************/
/*SHOPPING CART*/
/***************/
.bg-lightgreen {
    background-color: #a5d6a7;
}

/**************/


/**************/
/***FOOTER IMAGES****/
/*******************/
.img-bordered-sm {
    border: 2px solid #adb5bd;
    padding: 2px;
}

.img-circle {
    border-radius: 50%;
}

/*******************/


/*********************/
/*** SEARCH RESULT ***/
/*********************/
.search-result-wrapper {
    z-index: 1030;
    width: 95%;
}

.search-result-img {
    object-fit: cover;
    width: 100%;
    max-height: 100px;
    min-height: 100px;

}

/*********************/

/********/
/*COLORS*/
/********/
/*I WILL USE *MONOCHROMATIC* THEME COLORS FOR MORE CHOOSE*/
/*TEXT => DARK , BG => LIGHT*/

/*SUCCESS*/
/*https://www.culrs.com/#/green?id=juvenile*/
.bg-success-custom {
    background-color: #F1F8E9 !important;
}

.text-success-custom {
    color: #558B2F !important;
}

/*PRIMARY*/
/*https://www.culrs.com/#/teal?id=blot*/
.bg-primary-custom {
    background-color: #B2DFDB !important;
}

.text-primary-custom {
    color: #00695C !important;
}

/*INFO*/
/*https://www.culrs.com/#/cyan?id=cadet*/
.bg-info-custom {
    background-color: #F0FBFC !important;
}

.text-info-custom {
    color: #71959A !important;
}

/*WARNING*/
/*https://www.culrs.com/#/lime?id=beryl*/
.bg-warning-custom {
    background-color: #F9FBE7 !important;
}

.text-warning-custom {
    color: #D4E157 !important;
}

/*DANGER*/
/*https://www.culrs.com/#/red?id=ruddy*/
.bg-danger-custom {
    background-color: #FFEBEE !important;
}

.text-danger-custom {
    color: #890519 !important;
}

/*SECONDARY*/
.bg-secondary-custom {
    background-color: #d7d8da !important;
}

.text-secondary-custom {
    color: #848484 !important;
}

/*DARK*/
.bg-dark-custom {
    background-color: #7f8084 !important;
}

.text-dark-custom {
    color: #262526 !important;
}

/**************************/

/*!*TEXT COLORS*!
.custom-primary {
    color : #318A90  !important;
}
.custom-success {
    color : #3DB0B8 !important;
}
.custom-info {
    color : #5DC4CB !important;
}

.custom-secondary {
    color : #474747 !important;
}

.custom-dark {
    color : #2E2E2E !important;
}

!*BACKGROUND COLORS*!
.custom-bg-primary {
    background-color : #318A90  !important;
}
.custom-bg-success {
    background-color : #3DB0B8 !important;
}
.custom-bg-info {
    background-color : #5DC4CB !important;
}

.custom-bg-secondary {
    background-color : #474747 !important;
}

.custom-bg-dark {
    background-color : #2E2E2E !important;
}*/


/*.text-lime-a100 {
    color: #f4ff81 !important;
}

.text-blue-grey-300 {
    color: #90A4AE !important;
}

.text-teal-100-dark {
    color: #b2dfdb !important;
}

.text-cyan-600-dark {
    color: #007c91 !important;
}

.text-yellow {
    color: #ffca08 !important;
}

.bg-grey-50 {
    background-color: #FAFAFA !important;
}

.bg-whitesmoke {
    background-color: #F5F5F5 !important;
}

.bg-grey-300 {
    background-color: #e0e0e0;
}

.bg-lightgreen-50 {
    background-color: #f1f8e9;
}

.bg-light-gray {
    background-color: #F8F8F8 !important;
}

.bg-lightgrey {
    background-color: #f5f5f5 !important;
}

.bg-blue-grey-300 {
    background-color: #90A4AE;
}

.bg-awesome {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(22, 49, 82, 1) 100%);
}*/

/********/


.cursor-pointer {
    cursor: pointer;
}

.img-cart {
    max-height: 300px !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    /*padding-right: 1rem;*/
    /*padding-left: 1rem;*/
    content: "";
}

.parallax-window {
    /*img-size-swiper-size*/
    min-height: 180px;
    max-height: 180px;
    background: transparent;
}


.img-size-swiper {
    max-height: 300px;
    min-height: 300px;
    object-fit: contain;
    overflow-y: hidden;
}

.product-thumbnails {
    max-height: 500px;
    overflow-y: scroll;
}

.product-thumbnails::-webkit-scrollbar {
    display: none;
}

.product-image {
    max-height: 100%;
    width: 100%;
}


.w-95 {
    width: 95% !important
}

a:hover {
    text-decoration: none;
}

.list-unstyled li {
    padding: 5px 0px 5px 0px;
}


.border-bottom-footer {
    margin-top: 4rem;
    padding-top: 4rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.footer {
    margin-top: 2rem;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    padding: 5rem 0px;
}

.footer_product_img {
    width: 100%;
    max-height: 100px;
    object-fit: cover;
    overflow-y: hidden;
}

.sticky-footer {
    position: fixed;
    bottom: 0;
    z-index: 2;
}

.font-8 {
    font-size: 8px !important;
}

.font-10 {
    font-size: 10px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-22 {
    font-size: 22px !important;
}

.font-24 {
    font-size: 24px !important;
}

.rounded-7 {
    border-radius: 7px;
}

.ltr {
    direction: ltr !important;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
    color: #455A64;
}

.left-top-0 {
    left: 0;
    top: 0;
}

.left-top-15 {
    left: 15px;
    top: 15px;
}

.right-top-0 {
    right: 0;
    top: 0;
}

.right-top-15 {
    right: 15px;
    top: 15px;
}

.right-bottom-0 {
    right: 0;
    bottom: 0;
}

.right-bottom-15 {
    right: 15px;
    bottom: 15px;
}


.discount-label {
    background-color: rgb(232, 16, 74);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(232, 16, 74);
    border-image: initial;
    margin-bottom: 0.5rem;
    display: block;
    color: rgb(255, 255, 255);
    bottom: 7rem;
    padding: 2px 7px;
    border-radius: 5px;
}

.add_card {
    color: rgb(66, 176, 41);
    width: 24px;
    height: 24px;
    display: block;
    text-align: center;
    cursor: pointer;
    border-radius: 100%;
    /*font: 1.3rem / 9px is;*/
    border-width: 2px;
    border-style: solid;
    border-color: rgb(66, 176, 41);
    border-image: initial;
    background: rgb(255, 255, 255);
    outline: 0px;
    padding: 0px;
    margin: 0px;
}

.discount {
    opacity: 0.7;
    text-decoration: line-through;
}

/************/
/*UTILITIES*/
/***********/
.border-radius-0 {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

/************/
/*UTILITIES*/
/***********/


/******/
/*BLOG*/
/******/

/*INDEX*/
.dark {
    background: #110f16;
}

.light {
    background: #f3f5f7;
}

a, a:hover {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
}

/* Cards */
.postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #ffffff;
}

.postcard.dark {
    background-color: #18151f;
}

.postcard.light {
    background-color: #e1e5ea;
}

.postcard .t-dark {
    color: #18151f;
}

.postcard a {
    color: inherit;
}

.postcard h1, .postcard .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.postcard .small {
    font-size: 80%;
}

.postcard .postcard__title {
    font-size: 1.75rem;
}

.postcard .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.postcard .postcard__img_link {
    display: contents;
}

.postcard .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}

.postcard .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.postcard .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
}

.postcard .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;
}

.postcard .postcard__tagbox .tag__item {
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;
}

.postcard .postcard__tagbox .tag__item:hover {
    background: rgba(83, 83, 83, 0.8);
}

.postcard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
}

.postcard:hover .postcard__bar {
    width: 100px;
}

@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;
    }

    .postcard .postcard__title {
        font-size: 2rem;
    }

    .postcard .postcard__tagbox {
        justify-content: start;
    }

    .postcard .postcard__img {
        max-width: 300px;
        max-height: 100%;
        transition: transform 0.3s ease;
    }

    .postcard .postcard__text {
        padding: 3rem;
        width: 100%;
    }

    .postcard .media.postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        background: #18151f;
        top: -20%;
        height: 130%;
        width: 55px;
    }

    .postcard:hover .postcard__img {
        transform: scale(1.1);
    }

    .postcard:nth-child(2n+1) {
        flex-direction: row;
    }

    .postcard:nth-child(2n+0) {
        flex-direction: row-reverse;
    }

    .postcard:nth-child(2n+1) .postcard__text::before {
        left: -12px !important;
        transform: rotate(4deg);
    }

    .postcard:nth-child(2n+0) .postcard__text::before {
        right: -12px !important;
        transform: rotate(-4deg);
    }
}

@media screen and (min-width: 1024px) {
    .postcard__text {
        padding: 2rem 3.5rem;
    }

    .postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        top: -20%;
        height: 130%;
        width: 55px;
    }

    .postcard.dark .postcard__text:before {
        background: #18151f;
    }

    .postcard.light .postcard__text:before {
        background: #e1e5ea;
    }
}

/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
    background: #79dd09;
    color: black;
}

.green .postcard__title:hover {
    color: #79dd09;
}

.green .postcard__bar {
    background-color: #79dd09;
}

.green::before {
    background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.green:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
    background: #0076bd;
}

.blue .postcard__title:hover {
    color: #0076bd;
}

.blue .postcard__bar {
    background-color: #0076bd;
}

.blue::before {
    background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
    background: #bd150b;
}

.red .postcard__title:hover {
    color: #bd150b;
}

.red .postcard__bar {
    background-color: #bd150b;
}

.red::before {
    background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.red:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
    background: #bdbb49;
    color: black;
}

.yellow .postcard__title:hover {
    color: #bdbb49;
}

.yellow .postcard__bar {
    background-color: #bdbb49;
}

.yellow::before {
    background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.yellow:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
    .green::before {
        background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
    }

    .green:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
    }

    .blue::before {
        background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
    }

    .blue:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
    }

    .red::before {
        background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
    }

    .red:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
    }

    .yellow::before {
        background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
    }

    .yellow:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
    }
}

/******/
/*BLOG*/
/******/


/***************/
/*MEDIA QUERIES*/
/***************/
@media only screen and ( max-width: 1700px) {
    #logo {
        margin-right: 10rem;
    }
}

@media only screen and ( max-width: 1400px) {

}


@media only screen and ( max-width: 800px) {
    #logo {
        margin-right: 2rem;
    }
}

@media screen and (max-width: 768px) {
    /*#parallax_header {
        background-attachment: local;
    }*/
}


/***************/
/*MEDIA QUERIES*/
/***************/


/*********/
/*HEADER*/
/********/
.menu__main_wrapper img {
    width: 100%;
    display: block;
}

.menu__main_wrapper a {
    color: #000;
    text-decoration: none;
}

.menu__main_wrapper ul li {
    list-style-type: none;
}

.menu__navbar {
    background: #fafafa;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.menu__brand_and_icon {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}

.menu__navbar_brand {
    font-size: 1.8rem;
    font-weight: 700;
}

.menu__navbar_toggle {
    display: block;
    border: 2px solid #000;
    background: transparent;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    transition: all 0.4s ease;
    border-radius: 4px;
}

.menu__navbar_toggle:hover {
    opacity: 0.7;
}

.menu__navbar_collapse {
    overflow-y: scroll;
    display: none;
}

.menu__navbar_nav > li > a {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    display: block;
    padding: 0.6rem 0;
    margin: 0.2rem 0;
    border-bottom: 1px solid #ddd;
    border-radius: 1px;
    position: relative;
    transition: all 0.4s ease;
}

.menu__drop_icon {
    position: absolute;
    left:0;
    top: 50%;
    transform: translateY(-50%);
}

.menu__navbar_nav > li > a:hover {
    opacity: 0.7;
}

.menu__sub_menu h4 {
    text-transform: capitalize;
    font-size: 1rem;
    padding: 0.5rem 0;
}

.menu__sub_menu ul li {
    text-transform: capitalize;
    padding: 0.2rem 0;
    margin: 0.2rem 0;
    font-size: 0.95rem;
}

.menu__sub_menu ul li a {
    opacity: 0.8;
    transition: all 0.5s ease;
}

.menu__sub_menu ul li a:hover {
    padding-left: 14px;
    opacity: 0.9;
}

.menu__sub_menu {
    display: none;
}

.menu__sub_menu_item {
    padding-left: 1.2rem;
}

.menu__sub_menu_item:nth-child(3) {
    background: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.menu__sub_menu_item:nth-child(3) h2 {
    text-transform: capitalize;
    margin: 1.5rem 0;
}

.menu__sub_menu_item:nth-child(3) .btn {
    border: 1px solid #000;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
    cursor: pointer;
    background: #000;
    color: #fff;
    transition: all 0.5s ease;
}

.menu__sub_menu_item:nth-child(3) .btn:hover {
    background: transparent;
    color: #000;
}

.menu__sub_menu_item:nth-child(4) {
    width: 50%;
    margin: 0 auto;
    padding: 2rem 0;
}

/* Media Queries */
@media screen and (min-width: 992px) {
    .menu__navbar {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding: 0 5rem;
        position: relative;
    }

    .menu__navbar_toggle {
        display: none;
    }

    .menu__brand_and_icon {
        flex: 0 0 100px;
        border-bottom: none;
        padding: 0;
    }

    .menu__navbar_collapse {
        display: block !important;
        overflow-y: hidden;
        flex: 1 0 auto;
    }

    .menu__navbar_nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu__navbar_nav > li > a {
        border-bottom: none;
        margin: 0 0.4rem;
        padding: 1.7rem 1.8rem 1.7rem 0.8rem;
        font-size: 0.8rem;
    }

    .menu__sub_menu {
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
        background: #f8f8f8;
    }

    .menu__navbar_nav > li:hover .menu__sub_menu {
        display: grid !important;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 5rem;
    }

    .menu__navbar_nav > li {
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.4s ease;
    }

    .menu__navbar_nav > li:hover {
        border-bottom-color: #1b4b72;
    }

    .menu__sub_menu_item {
        padding-left: 0;
    }

    .menu__sub_menu_item:nth-child(3) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/********/
/*HEADER*/
/********/




