@font-face {
    font-family: 'iransans';
    src: url('../fonts/iransans/IRANSansWeb(FaNum).ttf') format('truetype');
    src: url('../fonts/iransans/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
    url('../fonts/iransans/IRANSansWeb(FaNum).eot');
    src: url('../fonts/iransans/IRANSansWeb(FaNum).woff2') format('woff2');
    src: url('../fonts/iransans/IRANSansWeb(FaNum).woff') format('woff');
}


html, body {
    direction: rtl;
    text-align: right;
    font-size: 14px;
    font-family: 'iransans' !important;
    background: rgb(247, 247, 247);
}

/*************/
/*BACK TO TOP*/
/*************/
.back-to-top {
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    border-radius: 20px;
    opacity: 0.9;
    z-index: 2;
}

/*************/


/*************/
/*SOCIAL MEDIA BUTTON*/
/*************/
.social-media-button {
    position: fixed;
    bottom: 5rem;
    left: 1rem;
    opacity: 0.8;
    border-radius: 20px;
    z-index: 2;
}

.social-media-button > .img {
    max-height: 60px;
}

/*************/


/*######*/
/*NAVBAR*/
/*######*/
nav > li > a {
    color: #0a0a0a;
}

@media only screen and (max-width: 600px) {
    .dropdown-menu {
        max-height: 300px;
        overflow-y: scroll;
    }
}


.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
/ / remove the gap so it doesn 't close
}

/*######*/

::placeholder { /* Chrome, Firefox, Safari, Opera*/
    color: #bdbdbd !important;
    opacity: 1; /*Firefox*/
}

::-ms-input-placeholder {
    color: #bdbdbd !important;
}


/*********/
/**STAR RATING**/
.starrating > input {
    display: none;
}

/* Remove radio buttons */

.starrating > label:before {
    content: "\f005"; /* Star */
    margin: 2px;
    font-size: 4em;
    font-family: 'FontAwesome';
    display: inline-block;
}

.starrating > label {
    color: lightgrey; /* Start color when not clicked */
}

.starrating > input:checked ~ label {
    color: #ffca08;
}

/* Set yellow color when star checked */

.starrating > input:hover ~ label {
    color: #f9a825;
}

/* Set yellow color when star hover */


/**./STAR RATING**/
/*RATING AVERAGE*/
.rating-average, .back-stars, .front-stars {
    display: flex;
}

.rating-average {
    align-items: center;
    font-size: 3em;
    justify-content: center;
}

.back-stars {
    color: lightgrey;
    position: relative;
}

.front-stars {
    color: #ffca08;
    overflow: hidden;
    position: absolute;
}

/*./RATING AVERAGE*/
/*********/


/***************/
/*SHOPPING CART*/
/***************/
.bg-lightgreen {
    background-color: #a5d6a7;
}

/**************/


/**************/
/***FOOTER IMAGES****/
/*******************/
.img-bordered-sm {
    border: 2px solid #adb5bd;
    padding: 2px;
}

.img-circle {
    border-radius: 50%;
}

/*******************/


/*********************/
/*** SEARCH RESULT ***/
/*********************/
.search-result-wrapper {
    z-index: 1030;
    width: 95%;
}

.search-result-img {
    object-fit: cover;
    width: 100%;
    max-height: 100px;
    min-height: 100px;

}

/*********************/
/********/
/*COLORS*/
/********/
.text-lime-a100 {
    color: #f4ff81 !important;
}

.text-blue-grey-300 {
    color: #90A4AE !important;
}

.text-teal-100-dark {
    color: #b2dfdb !important;
}

.text-cyan-600-dark {
    color: #007c91 !important;
}

.text-yellow {
    color: #ffca08 !important;
}

.bg-grey-50 {
    background-color: #FAFAFA !important;
}

.bg-whitesmoke {
    background-color: #F5F5F5 !important;
}

.bg-grey-300 {
    background-color: #e0e0e0;
}

.bg-lightgreen-50 {
    background-color: #f1f8e9;
}

.bg-light-gray {
    background-color: #F8F8F8 !important;
}

.bg-lightgrey {
    background-color: #f5f5f5 !important;
}

.bg-blue-grey-300 {
    background-color: #90A4AE;
}

.bg-awesome {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(22, 49, 82, 1) 100%);
}

/********/


.cursor-pointer {
    cursor: pointer;
}

.img-cart {
    max-height: 200px !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    /*padding-right: 1rem;*/
    /*padding-left: 1rem;*/
    content: "";
}

.parallax-window {
    /*img-size-swiper-size*/
    min-height: 180px;
    max-height: 180px;
    background: transparent;
}


.img-size-swiper {
    max-height: 300px;
    min-height: 200px;
    object-fit: contain;
    overflow-y: hidden;
}

.product-thumbnails {
    max-height: 500px;
    overflow-y: scroll;
}

.product-thumbnails::-webkit-scrollbar {
    display: none;
}

.product-image {
    max-height: 500px;
}


.w-95 {
    width: 95% !important
}

a:hover {
    text-decoration: none;
}

.list-unstyled li {
    padding: 5px 0px 5px 0px;
}


.border-bottom-footer {
    margin-top: 4rem;
    padding-top: 4rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.footer {
    margin-top: 2rem;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    padding: 5rem 0px;
}

.sticky-footer {
    position: fixed;
    bottom: 0;
    z-index: 2;
}

.font-8 {
    font-size: 8px !important;
}

.font-10 {
    font-size: 10px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-22 {
    font-size: 22px !important;
}

.font-24 {
    font-size: 24px !important;
}

.rounded-7 {
    border-radius: 7px;
}

.ltr {
    direction: ltr !important;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
    color: #455A64;
}

.left-top-0 {
    left: 0;
    top: 0;
}

.left-top-15 {
    left: 0;
    top: 15px;
}

.discount-label {
    background-color: rgb(232, 16, 74);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(232, 16, 74);
    border-image: initial;
    margin-bottom: 0.5rem;
    display: block;
    color: rgb(255, 255, 255);
    bottom: 7rem;
    padding: 2px 7px;
    border-radius: 5px;
}

.add_card {
    color: rgb(66, 176, 41);
    width: 24px;
    height: 24px;
    display: block;
    text-align: center;
    cursor: pointer;
    border-radius: 100%;
    /*font: 1.3rem / 9px is;*/
    border-width: 2px;
    border-style: solid;
    border-color: rgb(66, 176, 41);
    border-image: initial;
    background: rgb(255, 255, 255);
    outline: 0px;
    padding: 0px;
    margin: 0px;
}

.discount {
    opacity: 0.7;
    text-decoration: line-through;
}


/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 500px;
    max-width: 99%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal-back-color {
    background-color: #f7f7f7 !important;
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    /*right: -320px;*/
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

#modalrightmenu {
    padding-right: 0 !important;
}

/*MD_BOOTSTRAP PRODUCT ROWS*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.animated.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

.animated.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}

.animated.delay-3s {
    -webkit-animation-delay: 3s;
    animation-delay: 3s
}

.animated.delay-4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s
}

.animated.delay-5s {
    -webkit-animation-delay: 5s;
    animation-delay: 5s
}

.animated.fast {
    -webkit-animation-duration: .8s;
    animation-duration: .8s
}

.animated.faster {
    -webkit-animation-duration: .5s;
    animation-duration: .5s
}

.animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

.animated.slower {
    -webkit-animation-duration: 3s;
    animation-duration: 3s
}

@media (prefers-reduced-motion) {
    .animated {
        transition: none !important;
        -webkit-animation: unset !important;
        animation: unset !important
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

@-webkit-keyframes fadeOutDown {
    from {
        opacity: 1
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown
}

@-webkit-keyframes fadeOutLeft {
    from {
        opacity: 1
    }
    to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }
}

@keyframes fadeOutLeft {
    from {
        opacity: 1
    }
    to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }
}

.fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft
}

@-webkit-keyframes fadeOutRight {
    from {
        opacity: 1
    }
    to {
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }
}

@keyframes fadeOutRight {
    from {
        opacity: 1
    }
    to {
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }
}

.fadeOutRight {
    -webkit-animation-name: fadeOutRight;
    animation-name: fadeOutRight
}

@-webkit-keyframes fadeOutUp {
    from {
        opacity: 1
    }
    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1
    }
    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }
}

.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp
}

.view {
    position: relative;
    overflow: hidden;
    cursor: default
}

.view .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px)
}

.rgba-white-slight, .rgba-white-slight:after {
    background-color: rgba(255, 255, 255, .1)
}

.grey-text {
    color: #9e9e9e !important
}

.dark-grey-text, .dark-grey-text:focus, .dark-grey-text:hover {
    color: #4f4f4f !important
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem
}

.danger-color {
    background-color: #ff3547 !important
}

.blue-text {
    color: #2196f3 !important
}









